{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss"]
  
}
